@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/SpoqaHanSansNeo-Regular.otf');
  src: local('Spoqa Han Sans Neo'), local('SpoqaHanSansNeo-Regular.otf'),
    url('../assets/fonts/SpoqaHanSansNeo-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/SpoqaHanSansNeo-Medium.otf');
  src: local('Spoqa Han Sans Neo'), local('SpoqaHanSansNeo-Medium.otf'),
    url('../assets/fonts/SpoqaHanSansNeo-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/SpoqaHanSansNeo-Bold.otf');
  src: local('Spoqa Han Sans Neo'), local('SpoqaHanSansNeo-Bold.otf'),
    url('../assets/fonts/SpoqaHanSansNeo-Bold.otf') format('opentype');
}
